<!DOCTYPE html>
<html>
<head>
	<title>广州交通信息化建设投资营运有限公司</title>
	@@include('_Layout_Link.html')
</head>
<body>
<!-- 头部 -->
@@include('_Layout_Header.html')
<!-- 主内容容器 -->
<section class="content">
	<!-- 首页banner轮播 -->
	<div class="index-banner-wrap">
		<div class="swiper-container" id="bannerSwiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img class="img-responsive" src="../../resources/images/top_banner/about_us.png" alt=""/>
				</div>
			</div>
			<!-- 分页器 -->
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<!--历史详情-->
	<div class="m-container">
		<ol class="breadcrumb">
			<li><a href="./about.html">关于我们</a></li>
			<li class="active">发展历史</li>
		</ol>
		<div class="history-wrap">
			<ul class="timeline">
				<li>
					<i class="iconfont icon-shang"></i>
				</li>
				<li class="left teal">
					<div class="step-mark s-line">2017</div>
					<div class="timeline-item">
						我们仍在努力前行
					</div>
				</li>
				<li class="right green">
					<div class="step-mark">2017<br>2月</div>
					<div class="timeline-item">
						荣获广东省科技进步三等奖
					</div>
				</li>
				<li class="left orange">
					<div class="step-mark">2016<br>11月</div>
					<div class="timeline-item">
						荣获中国地理信息产业优秀工程铜奖
					</div>
				</li>
				<li class="right blue">
					<div class="step-mark">2016<br>10月</div>
					<div class="timeline-item">
						获批组建广东省城市智能交通物联网工程技术研究中心
					</div>
				</li>
				<li class="left yellow">
					<div class="step-mark">2016<br>7月</div>
					<div class="timeline-item">
						荣获广州市科技进步二等奖
					</div>
				</li>
				<li class="right red">
					<div class="step-mark">2015<br>5月</div>
					<div class="timeline-item">
						荣获广州市科技进步二等奖
					</div>
				</li>
				<li class="left grass">
					<div class="step-mark">2014<br>11月</div>
					<div class="timeline-item">
						交通综合信息手机软件“行讯通”荣获首届“全国十佳交通信息服务手机软件”称号
					</div>
				</li>
				<li class="right purple">
					<div class="step-mark">2013<br>3月</div>
					<div class="timeline-item">
						获广东省经济和信息化委员会颁发的“广东省软件和集成电路设计产业百强培育企业”
					</div>
				</li>
				<li class="left croci">
					<div class="step-mark">2013<br>3月</div>
					<div class="timeline-item">
						获广东省“守合同重信用企业”荣誉称号
					</div>
				</li>
				<li class="right magenta">
					<div class="step-mark">2013<br>3月</div>
					<div class="timeline-item">
						获国家工信部颁发的计算机系统集成三级资质证书
					</div>
				</li>
				<li class="left pink">
					<div class="step-mark">2012<br>9月</div>
					<div class="timeline-item">
						获广州市交通委员会颁发的“广州市试行中小客车总量调控工作先进单位”
					</div>
				</li>
				<li class="right sky">
					<div class="step-mark">2012<br>6月</div>
					<div class="timeline-item">
						成为广东省智能交通协会副会长单位
					</div>
				</li>
				<!--第二部-->
				<li class="left teal">
					<div class="step-mark">2012<br>5月</div>
					<div class="timeline-item">
						交通运输部明确公司为首批国家物联网应用示范工程“基于物联网的城市智能交通应用示范”项目主体实施单位
					</div>
				</li>
				<li class="right green">
					<div class="step-mark">2012<br>3月</div>
					<div class="timeline-item">
						获广州市人民政府颁发的“广州市首批认定总部企业”
					</div>
				</li>
				<li class="left orange">
					<div class="step-mark">2011<br>12月</div>
					<div class="timeline-item">
						获广州市交通委员会颁发的“2011年公交专用道开通工作优秀单位”
					</div>
				</li>
				<li class="right blue">
					<div class="step-mark">2011<br>2月</div>
					<div class="timeline-item">
						承建“第26届世界大学生运动会大运智能交通调度信息管理系统”和“大运会常规公交可视化监管系统”项目
					</div>
				</li>
				<li class="left yellow">
					<div class="step-mark">2010<br>12月</div>
					<div class="timeline-item">
						获“第16届广州亚运会亚残运会交通服务突出贡献单位”
					</div>
				</li>
				<li class="right red">
					<div class="step-mark">2010<br>5月</div>
					<div class="timeline-item">
						获CMMI（集成的软件能力成熟度模型 ）Maturity level3 证书
					</div>
				</li>
				<li class="left grass">
					<div class="step-mark">2010<br>4月</div>
					<div class="timeline-item">
						通过增资扩股，公司注册资本增至5000万人民币
					</div>
				</li>
				<li class="right purple">
					<div class="step-mark">2010<br>2月</div>
					<div class="timeline-item">
						承建广州市政府“第16届亚运会车辆调度信息系统”项目
					</div>
				</li>
				<li class="left croci">
					<div class="step-mark">2009<br>11月</div>
					<div class="timeline-item">
						承建广州市中山大道快速公交（BRT）试验线自动售检票系统和智能交通系统软件项目
					</div>
				</li>
				<li class="right magenta">
					<div class="step-mark">2009<br>11月</div>
					<div class="timeline-item">
						承担国家发展和改革委员会的国家信息化试点工程
					</div>
				</li>
				<li class="left pink">
					<div class="step-mark">2009<br>9月</div>
					<div class="timeline-item">
						获广东省信息产业厅软件企业认定证书
					</div>
				</li>
				<li class="right sky">
					<div class="step-mark">2009<br>6月</div>
					<div class="timeline-item">
						获广东省安全技术防范系统设计、施工、维修资格证
					</div>
				</li>
				<!--第三部-->
				<li class="left teal">
					<div class="step-mark">2009<br>6月</div>
					<div class="timeline-item">
						公司注册资本增资至3000万人民币
					</div>
				</li>
				<li class="right green">
					<div class="step-mark">2009<br>4月</div>
					<div class="timeline-item">
						担任广州智能交通信息服务产业联盟理事长单位
					</div>
				</li>
				<li class="left orange">
					<div class="step-mark">2008<br>12月</div>
					<div class="timeline-item">
						获得广东省高新技术企业认定证书，并通过ISO9001-2000国际质量管理体系认证
					</div>
				</li>
				<li class="right blue">
					<div class="step-mark">2008<br>6月</div>
					<div class="timeline-item">
						公司正式纳入广州市交通委员会委属企业模式管理
					</div>
				</li>
				<li class="left yellow">
					<div class="step-mark">2008<br>5月</div>
					<div class="timeline-item">
						公司承担的“广州市智能交通系统应用试点示范工程—广州ITS共用信息平台”获广东省人民政府颁发省科技进步三等奖
					</div>
				</li>
				<li class="right red">
					<div class="step-mark">2007<br>11月</div>
					<div class="timeline-item">
						获“中国第八届少数民族体育运动会运输保障特别贡献单位奖”
					</div>
				</li>
				<li class="left grass">
					<div class="step-mark">2007<br>8月</div>
					<div class="timeline-item">
						出资500万成立广州交建多媒体信息技术有限公司，注册资本1000万，占股权50%
					</div>
				</li>
				<li class="right purple">
					<div class="step-mark">2006<br>12月</div>
					<div class="timeline-item">
						承担“十一五”国家科技支撑计划“广州亚运智能交通综合信息平台系统”项目建设，2009年6月通过国家科技部验收
					</div>
				</li>
				<li class="left croci">
					<div class="step-mark">2006<br>5月</div>
					<div class="timeline-item">
						开始具体建设世界银行贷款项目广州市中心区交通“ 广州市公共交通自动监控及通信调度系统”项目
					</div>
				</li>
				<li class="right magenta">
					<div class="step-mark">2005<br>11月</div>
					<div class="timeline-item">
						广州市交通委员会代表市政府，全面委托投资公司以代业主方式开发项目，投资、建设和运营广州交通信息化建设相关项目
					</div>
				</li>
				<li class="left pink">
					<div class="step-mark">2005<br>1月</div>
					<div class="timeline-item">
						承担“十五”国家科技攻关计划“浮动车交通信息采集关键技术研究”，2007年7月通过专家组验收
					</div>
				</li>
				<li class="right sky">
					<div class="step-mark">2004<br>6月</div>
					<div class="timeline-item">
						承建“十五”国家科技攻关项目“广州市智能交通系统应用试点示范工程——广州市共用信息平台”，2005年5月通过国家了科技部验收
					</div>
				</li>
				<!--第四部-->
				<li class="left teal">
					<div class="step-mark">2004<br>6月</div>
					<div class="timeline-item">
						出资250万成立广州电子口岸管理有限公司，注册资本500万，占股权50%
					</div>
				</li>
				<li class="right green">
					<div class="step-mark">2004<br>6月</div>
					<div class="timeline-item">
						出资500万成立广州京粤投资有限公司，注册资本1000万，占股权50%
					</div>
				</li>
				<li class="left orange">
					<div class="step-mark">2004<br>4月</div>
					<div class="timeline-item">
						出资收购广州市交通信息客户服务中心有限公司（96900客服中心）
					</div>
				</li>
				<li class="right blue">
					<div class="step-mark">2004<br>3月</div>
					<div class="timeline-item">
						开通运行“广州电子口岸（广州物流大通关平台）”
					</div>
				</li>
				<li class="left yellow">
					<div class="step-mark">2004<br>1月</div>
					<div class="timeline-item">
						开通运行“广州市出租车综合管理服务系统”
					</div>
				</li>
				<li class="right red">
					<div class="step-mark">2003<br>12月</div>
					<div class="timeline-item">
						建设并开通运行首次交通信息化项目“广州市客运联网售票系统”
					</div>
				</li>
				<li class="left grass">
					<div class="step-mark">2003<br>8月8号</div>
					<div class="timeline-item">
						公司正式成立，注册资本1000万人民币
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<div class="btn-group-fixed">
	<div class="btn-fixed btn-top" title="回到顶部"></div>
</div>
<!-- 头部 -->
@@include('_Layout_Footer.html')
@@include('_Layout_Script.html')
<script>
	var page;
	$(function(){
		page.init();
	});
	page=(function(){
		var componentInit = function () {
			//目前历史时间轴固定1200px，手机端自缩放
			var docEl = window.document.documentElement;
			var resizeEvent = 'orientationchange' in window ? 'orientationchange' : 'resize';
			var timer;
			function refreshTimeline() {
				var width = docEl.getBoundingClientRect().width||docEl.clientWidth;
				var $timeline=$(".timeline");
				var height=$timeline.innerHeight();
				console.log(height);
				if(width<1200){
					var scale=((width-40)/1200).toFixed(2);
					console.log(scale);
					$timeline.css({
						transform:"scale("+scale+")",
						marginBottom:"-"+height*(1-scale)+"px",
						transformOrigin:"center top"
					});
				}else{
					$timeline.css({
						transform:"scale(1)",
						marginBottom:"0"
					});
				}
			}
			refreshTimeline();
			window.addEventListener(resizeEvent, function() {
				clearTimeout(timer);
				timer = setTimeout(refreshTimeline, 300);
			}, false);
		};
		return {
			init:function(){
				componentInit();
			}
		}
	})();
</script>
</body>
</html>
