<!DOCTYPE html>
<html>
<head>
	<title>广州交通信息化建设投资营运有限公司</title>
	<script>
		window.location.href="echart1.html"
	</script>
@@include('_Layout_Link.html')
</head>
<body>
<!-- 头部 -->
@@include('_Layout_Header.html')
<!-- 主内容容器 -->
<section class="content" style="width:100%;height:680px;position:relative;">
	ddd
</section>
<div class="btn-group-fixed">
	<div class="btn-fixed btn-top" title="回到顶部"></div>
</div>
<!-- 头部 -->
@@include('_Layout_Footer.html')
@@include('_Layout_Script.html')
<!-- particle.js -->
<script src="../../resources/libs/particles/particles.min.js"></script>

</body>
</html>
