	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" id="viewport">
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="description" content="广州市交通信息化建设投资营运有限公司">
	<meta name="keyword" content="广州市交通信息化建设投资营运有限公司,官网,广交投,GCI">
	<link rel="shortcut icon" href="../../resources/images/favicon.ico" />
	<!-- gci.min.css -->
	<link rel="stylesheet" href="../../resources/css/gci.min.css">
	<!-- jQuery 2.1.4 -->
	<script src="../../resources/libs/jQuery/jquery-2.2.3.min.js"></script>
	<!-- Swipe -->
	<link rel="stylesheet" href="../../resources/libs/Swiper/css/swiper.css"/>
	<script src="../../resources/libs/Swiper/js/swiper.jquery.min.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 支持HTML5元素和媒体查询 -->
	<!-- 警告: Respond.js使用file://无法正常工作 -->
	<!--[if lt IE 9]>
	<script src="../../resources/js/html5shiv.min.js"></script>
	<script src="../../resources/js/respond.min.js"></script>
	<![endif]-->