<footer class="footer">
	<div class="m-footer-info">
		<ul class="m-footer-list">
			<li><a href="./index.html">网站首页</a></li>
			<li>|</li>
			<li><a href="./contact.html">联系我们</a></li>
			<li class="xs-hide">|</li>
			<li><a href="./map.html">网站地图</a></li>
			<li>|</li>
			<li><a href="./statement.html">法律声明</a></li>
		</ul>
		<p>版权所有 © 广州交通信息化建设投资营运有限公司&ensp;<span>·</span>&ensp;GuangZhou Communication Infomation Construction Investment and Operation Co.Ltd</p>
		<p>地址：广东省广州市天河区体育东路108号创展中心西座1402室&ensp;<span>·</span>&ensp;电话:(020)38180318&ensp;<span>·</span>&ensp;传真：(020)38180318&ensp;<span>·</span>&ensp;
			<a href="http://www.miibeian.gov.cn/" target="_blank">粤B220040454号</a>
		</p>
	</div>
	<div class="m-footer-info mobile">
		<ul class="m-footer-list">
			<li><a href="./index.html">网站首页</a></li>
			<li><a href="./contact.html">联系我们</a></li>
			<li><a href="./map.html">网站地图</a></li>
			<li><a href="./statement.html">法律声明</a></li>
		</ul>
		<p>版权所有 © 广州交通信息化建设投资营运有限公司</p>
		<p>GuangZhou Communication Infomation Construction Investment and Operation Co.Ltd</p>
		<p>地址：广东省广州市天河区体育东路108号创展中心西座1402室</p>
		<p>电话:(020)38180318</p>
		<p>传真：(020)38180318</p>
		<p><a href="http://www.miibeian.gov.cn/" target="_blank">粤B220040454号</a></p>
	</div>
</footer>