html,body{
    width:100%;
    height:100%;
    background:#ececec;
    position: relative;
}
header{
    width:100%;
    height:60px;
    background:#fff;
    margin-bottom:10px;;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: "微软雅黑";
}
.part{
    width:100%;
    height:auto;
    background:#fff;
    padding:15px;
    margin-bottom:15px;
}
.main{
    width:600px;
    height: 400px;
    margin-bottom:10px;
    padding:5px;
    border:1px solid #666;
}
.title{
    font-size: 18px;
}
.small-title{
    color:rgb(206, 36, 13);
}
.dir{
    font-size:14px;
    margin-bottom: 5px;
}