<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ECharts</title>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <script src="../../resources/libs/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../resources/libs/echarts/dist/echarts.js"></script>
</head>

<body>
    <header>ECharts Pritice </header>
    <div class="part">
        <div class="title">
            <b>一：ECharts 入门实例</b>
            <p class="dir"></p>
            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
            <div class="main" id="main"></div>
            <script>
                // 基于准备好的dom，初始化echarts实例
                var main = document.getElementById("main");
                var myChart = echarts.init(main);
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: "ECharts 入门示例"
                    },
                    tooltip: {},
                    legend: {
                        data: ['销量', '利润']
                    },
                    xAxis: {
                        data: ['衬衫', '羊毛衫', '短袖', '外套']
                    },
                    yAxis: {},
                    series: [
                        {
                            name: '销量',
                            type: 'bar',
                            data: [5, 20, 55, 36]
                        },

                        {
                            name: '利润',
                            type: 'bar',
                            data: [50, 200, 550, 360]
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            </script>
        </div>
    </div>
    <div class="part">
        <div class="title">
            <b>二：绘制南丁格尔图
                <small class="small-title">（南丁格尔图会通过半径表示数据的大小）</small>
            </b>
            <p class="dir">饼图主要是通过扇形的弧度表现不同类目的数据在总和中的占比，它的数据格式比柱状图更简单，只有一维的数值，不需要给类目。 因为不在直角坐标系上，所以也不需要xAxis，yAxis。ECharts 中的饼图也支持通过设置 roseType
                显示成南丁格尔图。 roseType: 'angle'
            </p>
            <p class="dir">
                <b>阴影的配置:</b> ECharts 中有一些通用的样式，诸如阴影、透明度、颜色、边框颜色、边框宽度等，这些样式一般都会在系列的 itemStyle 里设置。
                <br> itemStyle的emphasis是鼠标 hover 时候的高亮样式，可能更多的时候是 hover 的时候通过阴影突出。
            </p>
            <p class="dir">
                <b>深色背景和浅色标签</b> 把整个主题改成开始的示例中那样的深色主题，这就需要改背景色和文本颜色; 背景色是全局的，所以直接在 option 下设置 backgroundColor; 文本的样式可以设置全局的
                textStyle; 也可以每个系列分别设置，每个系列的文本设置在 label.textStyle；跟itemStyle一样，label和labelLine的样式也有emphasis状态；
                <small class="small-title">饼图的话还要将标签的视觉引导线的颜色设为浅色。</small>
            </p>
            <p class="dir">
                <b>设置扇形的颜色：</b> ECharts 中每个扇形颜色的可以通过分别设置 data 下的数据项实现，扇形的颜色也是在 itemStyle 中设置；
                <br> 因为只有明暗度的变化，所以有一种更快捷的方式是通过 visualMap 组件将数值的大小映射到明暗度（option.visualMap）
            </p>
            <div class="main" id="main2"> </div>
            <script>
                var main2 = document.getElementById("main2");
                var myChart2 = echarts.init(main2);
                var option2 = {
                    visualMap: { //只有明暗度的变化，快捷的方式是通过 visualMap 组件将数值的大小映射到明暗度
                        show: false,
                        min: 80,
                        max: 600,
                        inRange: {
                            colorLightness: [0, 1]
                        }
                    },
                    series: [
                        {
                            name: "访问来源",
                            type: "pie",
                            radius: "55%",
                            roseType: 'angle', //饼图也支持通过设置 roseType 显示成南丁格尔图
                            data: [
                                {
                                    value: 235, name: '视频广告',
                                    itemStyle: { //ECharts 中每个扇形颜色的可以通过分别设置 data 下的数据项实现。
                                        color: '#c23531'
                                    }
                                },
                                {
                                    value: 274, name: '联盟广告',
                                    itemStyle: { //ECharts 中每个扇形颜色的可以通过分别设置 data 下的数据项实现。
                                        color: '#c23531'
                                    }
                                },
                                {
                                    value: 310, name: '邮件营销',
                                    itemStyle: { //ECharts 中每个扇形颜色的可以通过分别设置 data 下的数据项实现。
                                        color: '#c23531'
                                    }
                                },
                                {
                                    value: 335, name: '直接访问',
                                    itemStyle: { //ECharts 中每个扇形颜色的可以通过分别设置 data 下的数据项实现。
                                        color: '#c23531'
                                    }
                                },
                                {
                                    value: 400, name: '搜索引擎',
                                    itemStyle: { //ECharts 中每个扇形颜色的可以通过分别设置 data 下的数据项实现。
                                        color: '#c23531'
                                    }
                                }
                            ],
                            itemStyle: { //ECharts 中有一些通用的样式，诸如阴影、透明度、颜色、边框颜色、边框宽度等，这些样式一般都会在系列的 itemStyle 里设置
                                // 阴影的大小
                                shadowBlur: 200,
                                // 阴影水平方向上的偏移
                                shadowOffsetX: 0,
                                // 阴影垂直方向上的偏移
                                shadowOffsetY: 0,
                                // 阴影颜色
                                shadowColor: 'rgba(0, 0, 0, 0.5)',
                                color: '#c23531',  // 设置扇形的颜色
                                /* emphasis: { //itemStyle的emphasis是鼠标 hover 时候的高亮样式。
                                    shadowBlur: 200,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                } */
                            },
                            label: { //也可以每个系列分别设置，每个系列的文本设置在 label.textStyle。
                                textStyle: {
                                    color: '#fff',
                                    fontSize: 16
                                },
                                emphasis: { //跟itemStyle一样，label和labelLine的样式也有emphasis状态。
                                    shadowBlur: 200,
                                    shadowColor: 'rgba(255, 255, 255, 0.5)'
                                }
                            },
                            labelLine: { //饼图的话还要将标签的视觉引导线的颜色设为浅色。
                                lineStyle: {
                                    color: 'rgba(255, 255, 255, 0.3)'
                                },
                                emphasis: { //跟itemStyle一样，label和labelLine的样式也有emphasis状态。
                                    shadowBlur: 200,
                                    shadowColor: 'rgba(255, 255, 255, 0.8)'
                                }
                            },
                        }
                    ],
                    backgroundColor: '#2c343c', //背景色是全局的，所以直接在 option 下设置 backgroundColor
                    textStyle: {    //文本的样式可以设置全局的 textStyle。
                        color: 'rgba(255, 255, 255, 0.3)'
                    }
                };
                myChart2.setOption(option2);
            </script>
        </div>
    </div>
    <div class="part">
        <div class="title">
            <b>三：颜色主题（Theme）</b>
            <p class="dir">最简单的更改全局样式的方式，是直接采用颜色主题（theme）；
                <br>
                <small class="small-title">ECharts4 开始新内置了两套主题，分别为 'light' 和 'dark'。使用方法：
                    <b> var chart = echarts.init(dom, 'light');</b> 或者
                    <b> var chart = echarts.init(dom, 'dark');</b>
                </small>
            </p>
        </div>
        <div class="title">
            <b>四：调色盘</b>
            <p class="dir">调色盘，可以在 option 中设置。它给定了一组颜色，图形、系列会自动从其中选择颜色。 可以设置全局的调色盘，也可以设置系列自己专属的调色盘。
                <img src="../../resources/images/1.png" alt="option 中设置调色盘">
            </p>
        </div>
        <div class="title">
            <b>五：直接的样式设置 itemStyle, lineStyle, areaStyle, label, ...</b>
            <p class="dir">直接的样式设置是比较常用设置方式。纵观 ECharts 的 option 中，很多地方可以设置 itemStyle、lineStyle、areaStyle、label 等等。这些的地方可以直接设置图形元素的颜色、线宽、点的大小、标签的文字、标签的样式等等。
                一般来说，ECharts 的各个系列和组件，都遵从这些命名习惯，虽然不同图表和组件中，itemStyle、label 等可能出现在不同的地方。
            </p>
        </div>
        <div class="title">
            <b>六：高亮的样式：emphasis</b>
            <p class="dir">在鼠标悬浮到图形元素上时，一般会出现高亮的样式，默认情况下，高亮的样式是根据普通样式自动生成的。
                <small class="small-title">高亮的样式也可以自己定义，主要是通过 emphasis 属性来定制。</small>
                <br>
                <b> emphsis 中的结构: </b>
                <br>
                <img src="../../resources/images/2.png" alt="">
                <small class="small-title">注意：在 ECharts4 以前，高亮和普通样式的写法，是这样的：（现在不推荐使用）</small>
                <img src="../../resources/images/3.png" alt="">
            </p>
        </div>
    </div>
    <div class="part">
        <div class="title">
            <b>七：异步数据加载和更新</b>
            <p class="dir">ECharts 中实现异步数据的更新：
                <br> (1)在图表初始化后不管任何时候只要通过 jQuery 等工具异步获取数据后通过 setOption 填入数据和配置项就行。
                <br> (2)先设置完其它的样式，显示一个空的直角坐标轴，然后获取数据后填入数据。
            </p>
            <div class="main" id="main3"></div>
            <div class="main" id="main3_2"></div>
            <script>
                var main3 = document.getElementById("main3")
                var myChart3 = echarts.init(main3);
                $.get("../../request/1.json").done(function (data) {
                    myChart3.setOption({
                        title: {
                            text: "异步加载数据实例(1)"
                        },
                        tooltip: {
                            trigger: 'axis',
                            borderColor: '#636F7F',
                            borderWidth: 1,
                            backgroundColor: 'rgba(99,111,127,1)',
                            textStyle: {
                                color: '#ffffff',
                                // fontWeight : 'bold',
                                fontSize: 14,
                            },
                            transitionDuration: 0.6,
                            formatter: '{b0}<br />{c0}(万元)',
                            axisPointer: {
                                type: 'line',
                                lineStyle: {
                                    color: '#05F41E',
                                    width: 1,
                                    type: 'solid',
                                },
                            },
                        },
                        calculable: true,
                        legend: {
                            data: ['销量']
                        },
                        xAxis: {
                            data: ["衬衫", "裤子", "短袖", "靴子", "外套"],
                            axisLabel: {
                                textStyle: {
                                    color: '#333',
                                    align: 'center',
                                    baseline: 'top'
                                },
                                rotate: 20,
                                margin: 15,
                            },
                            splitLine: {
                                show: false
                            },
                            axisLine: {
                                show: true,
                                lineStyle: {
                                    color: '#EFF0F0',
                                    type: 'dashed',
                                }
                            }
                        },
                        yAxis: {
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    color: '#EFF0F0',
                                    type: 'dashed',
                                }
                            },
                            axisLine: {
                                show: false
                            }
                        },
                        series: [
                            {
                                name: "销量",
                                type: "bar",
                                data: [5, 20, 30, 100, 250],
                                barWidth: 15,
                                itemStyle: {
                                    normal: {
                                        barBorderRadius: 20,
                                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                            offset: 0,
                                            color: '#37BBF8'
                                        }, {
                                            offset: 1,
                                            color: '#2294E4'
                                        }]),
                                        // shadowColor: 'rgba(35,149,229,0.8)',
                                        // shadowBlur: 20,
                                        areaStyle: { type: 'default' }
                                    }
                                }
                            }
                        ]
                    })
                })
            </script>

            <script>
                var main3_2 = document.getElementById("main3_2");
                var myChart3_2 = echarts.init(main3_2);
                myChart3_2.setOption({
                    title: {
                        text: '异步加载数据实例(2)'
                    },
                    tooltip: {
                    },
                    legend: {
                        data: ['销量']
                    },
                    xAxis: {
                        data: []
                    },
                    yAxis: {
                    },
                    series: [
                        {
                            name: '销量',
                            type: 'bar',
                            data: [4, 50, 300, 6, 60]
                        }
                    ]
                });
                $(document).ready(function () {
                    // 异步加载数据
                    $.get('../../request/1.json').done(function (data) {
                        console.log(data);
                        // 填入数据
                        myChart3_2.setOption({
                            xAxis:{
                                data:data.item
                            },
                            series:[{
                                // 根据名字对应到相应的系列
                                name:'销量',
                                data:data.number
                            }]
                        })
                    })
                });
            </script>
        </div>
    </div>
</body>

</html>