<!DOCTYPE html>
<html>
<head>
	<title>广州交通信息化建设投资营运有限公司</title>
		<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" id="viewport">
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="description" content="广州市交通信息化建设投资营运有限公司">
	<meta name="keyword" content="广州市交通信息化建设投资营运有限公司,官网,广交投,GCI">
	<link rel="shortcut icon" href="../../resources/images/favicon.ico" />
	<!-- gci.min.css -->
	<link rel="stylesheet" href="../../resources/css/gci.min.css">
	<!-- jQuery 2.1.4 -->
	<script src="../../resources/libs/jQuery/jquery-2.2.3.min.js"></script>
	<!-- Swipe -->
	<link rel="stylesheet" href="../../resources/libs/Swiper/css/swiper.css"/>
	<script src="../../resources/libs/Swiper/js/swiper.jquery.min.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 支持HTML5元素和媒体查询 -->
	<!-- 警告: Respond.js使用file://无法正常工作 -->
	<!--[if lt IE 9]>
	<script src="../../resources/js/html5shiv.min.js"></script>
	<script src="../../resources/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!-- 头部 -->
<header id="header" class="header top">
	<div class="m-container">
		<div class="m-logo">
			<a href="./index.html" title="广交投LOGO"></a>
		</div>
		<div class="m-navs">
			<ul class="navs-list">
				<li>
					<a href="./index.html">首页<div class="subtitle">Home</div>
						<i class="f-line"></i>
					</a>
				</li>
				<li>
					<a >政府应用<div class="subtitle">Govt app</div>
						<i class="f-line"></i>
					</a>
					<div class="navs-menus">
						<div class="m-container menu-body">
							<div class="menu-right">
								<div class="menu-product active">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">公交专用道综合管理系统</h4>
										<a class="btn-view" href="./product.html">查看详情&ensp;<i class="iconfont icon-double-right"></i></a>
										<ul class="nav-tabs">
											<li class="active" data-index="0"><img src="../../resources/images/product/xx/head_p1_m.png"></li>
											<li data-index="1"><img src="../../resources/images/product/xx/head_p2_m.png"></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane active">
												<img src="../../resources/images/product/xx/head_p1.png">
											</div>
											<div class="tab-pane">
												<img src="../../resources/images/product/xx/head_p2.png">
											</div>
										</div>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">公交客流分析系统</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">公交线网基础数据管理</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">公交行业监管</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">网约车行业监管解决方案</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">公路客运监管分析系统解决方案</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">长途汽车客运联网售票</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">营运车辆安全监管解决方案</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">广州市机动车驾驶员培训行业监管系统</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">重点区域人群监测解决方案白皮书</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">停车场行业管理解决方案</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">城市道路交通运行分析解决方案</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">广州市亚运会大型赛事专用车辆调度管理</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">深圳大运会大型赛事专用车辆调度管理</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">南京亚青会大型赛事专用车辆调度管理</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">南京青奥会等大型赛事专用车辆调度管理</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">交通信息资源综合整合发布解决方案</h4>
									</div>
								</div>
							</div>
							<div class="menu-left">
								<h3 class="nav-menu-mtitle">公共交通</h3>
								<ul class="nav-menu">
									<li class="active" data-index="0">
										<h4 class="nav-menu-title">公交专用道综合管理系统<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="1">
										<h4 class="nav-menu-title">公交客流分析系统<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="2">
										<h4 class="nav-menu-title">公交线网基础数据管理<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="3">
										<h4 class="nav-menu-title">公交行业监管<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
								</ul>
								<h3 class="nav-menu-mtitle">的士、客运</h3>
								<ul class="nav-menu">
									<li class="" data-index="4">
										<h4 class="nav-menu-title">网约车行业监管解决方案<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="4">
										<h4 class="nav-menu-title">公路客运监管分析系统解决方案<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="5">
										<h4 class="nav-menu-title">长途汽车客运联网售票<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="6">
										<h4 class="nav-menu-title">营运车辆安全监管解决方案<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
								</ul>
								<h3 class="nav-menu-mtitle">交通枢纽、驾培</h3>
								<ul class="nav-menu">
									<li class="" data-index="7">
										<h4 class="nav-menu-title">广州市机动车驾驶员培训行业监管系统<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="8">
										<h4 class="nav-menu-title">重点区域人群监测解决方案白皮书<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="9">
										<h4 class="nav-menu-title">停车场行业管理解决方案<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="10">
										<h4 class="nav-menu-title">城市道路交通运行分析解决方案<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
								</ul>
								<h3 class="nav-menu-mtitle">大型赛事、其他</h3>
								<ul class="nav-menu">
									<li class="" data-index="11">
										<h4 class="nav-menu-title">广州市亚运会大型赛事专用车辆调度管理<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="12">
										<h4 class="nav-menu-title">深圳大运会大型赛事专用车辆调度管理<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="13">
										<h4 class="nav-menu-title">南京亚青会大型赛事专用车辆调度管理<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="14">
										<h4 class="nav-menu-title">南京青奥会等大型赛事专用车辆调度管理<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="14">
										<h4 class="nav-menu-title">交通信息资源综合整合发布解决方案<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
								</ul>
							</div>
						</div>
						<div class="menu-foot">
							<i class="iconfont icon-shang" role="button"></i>
						</div>
					</div>
				</li>
				<li>
					<a >企业应用<div class="subtitle">Company app</div>
						<i class="f-line"></i>
					</a>
					<div class="navs-menus">
						<div class="m-container menu-body">
							<div class="menu-right">
								<div class="menu-product active">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">公交智能监控调度解决方案</h4>
										<a class="btn-view" href="./product.html">查看详情&ensp;<i class="iconfont icon-double-right"></i></a>
										<ul class="nav-tabs">
											<li class="active" data-index="0"><img src="../../resources/images/product/xx/head_p1_m.png"></li>
											<li data-index="1"><img src="../../resources/images/product/xx/head_p2_m.png"></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane active">
												<img src="../../resources/images/product/xx/head_p1.png">
											</div>
											<div class="tab-pane">
												<img src="../../resources/images/product/xx/head_p2.png">
											</div>
										</div>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">公共交通营运及成本效益分析系统</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">的士复合电召解决方案</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">广州驾培行业计时收费系统解决方案</h4>
									</div>
								</div>
							</div>
							<div class="menu-left">
								<h3 class="nav-menu-mtitle">公共交通</h3>
								<ul class="nav-menu">
									<li class="active" data-index="0">
										<h4 class="nav-menu-title">公交智能监控调度解决方案<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="1">
										<h4 class="nav-menu-title">公共交通营运及成本效益分析系统<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
								</ul>
								<h3 class="nav-menu-mtitle">的士、客运</h3>
								<ul class="nav-menu">
									<li class="" data-index="2">
										<h4 class="nav-menu-title">的士复合电召解决方案<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
								</ul>
								<h3 class="nav-menu-mtitle">交通枢纽、驾培</h3>
								<ul class="nav-menu">
									<li class="" data-index="3">
										<h4 class="nav-menu-title">广州驾培行业计时收费系统解决方案<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
								</ul>
								<h3 class="nav-menu-mtitle">其他</h3>
								<ul class="nav-menu">
								</ul>
							</div>
						</div>
						<div class="menu-foot">
							<i class="iconfont icon-shang" role="button"></i>
						</div>
					</div>
				</li>
				<li>
					<a >公众服务<div class="subtitle">Public service</div>
						<i class="f-line"></i>
					</a>
					<div class="navs-menus">
						<div class="m-container menu-body">
							<div class="menu-right">
								<div class="menu-product active">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">如约出行</h4>
										<a class="btn-view" href="./app.html">查看详情&ensp;<i class="iconfont icon-double-right"></i></a>
										<ul class="nav-tabs">
											<li class="active" data-index="0"><img src="../../resources/images/app/rycx/head_p1_m.png"></li>
											<li data-index="1"><img src="../../resources/images/app/rycx/head_p1_m.png"></li>
											<li data-index="2"><img src="../../resources/images/app/rycx/head_p1_m.png"></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane active">
												<img src="../../resources/images/app/rycx/head_p1.png">
											</div>
											<div class="tab-pane">
												<img src="../../resources/images/app/rycx/intro_p2.png">
											</div>
											<div class="tab-pane">
												<img src="../../resources/images/app/rycx/intro_p3.png">
											</div>
										</div>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">如约学车</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">如约的士</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">如约爱车</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">行讯通（交委版）</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">沃行讯通</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">移动行讯通</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">天翼行讯通</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">停车场行业信息化解决方案</h4>
									</div>
								</div>
							</div>
							<div class="menu-left">
								<h3 class="nav-menu-mtitle">如约系列</h3>
								<ul class="nav-menu">
									<li class="active" data-index="0">
										<h4 class="nav-menu-title">如约出行<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="1">
										<h4 class="nav-menu-title">如约学车<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="2">
										<h4 class="nav-menu-title">如约的士<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="3">
										<h4 class="nav-menu-title">如约爱车<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
								</ul>
								<h3 class="nav-menu-mtitle">行讯通系列</h3>
								<ul class="nav-menu">
									<li class="" data-index="4">
										<h4 class="nav-menu-title">行讯通（交委版）<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="5">
										<h4 class="nav-menu-title">沃行讯通<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="6">
										<h4 class="nav-menu-title">移动行讯通<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="7">
										<h4 class="nav-menu-title">天翼行讯通<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
								</ul>
								<h3 class="nav-menu-mtitle">停车业务产品</h3>
								<ul class="nav-menu">
									<li class="" data-index="8">
										<h4 class="nav-menu-title">停车场行业信息化解决方案<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
								</ul>
							</div>
						</div>
						<div class="menu-foot">
							<i class="iconfont icon-shang" role="button"></i>
						</div>
					</div>
				</li>
				<li>
					<a href="#">科研创新<div class="subtitle">Scientific innovation</div>
						<i class="f-line"></i>
					</a>
					<div class="navs-menus">
						<div class="m-container menu-body">
							<div class="menu-right">
								<div class="menu-product active">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">“十五”、“十一五”国家科技攻关重大项目</h4>
										<a class="btn-view" href="./product.html">查看详情&ensp;<i class="iconfont icon-double-right"></i></a>
										<ul class="nav-tabs">
											<li class="active" data-index="0"><img src="../../resources/images/product/xx/head_p1_m.png"></li>
											<li data-index="1"><img src="../../resources/images/product/xx/head_p2_m.png"></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane active">
												<img src="../../resources/images/product/xx/head_p1.png">
											</div>
											<div class="tab-pane">
												<img src="../../resources/images/product/xx/head_p2.png">
											</div>
										</div>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">国家首批物联网示范工程、交通运输部重大科技专项</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">基于大数据的“行讯通”综合交通信息服务惠民示范工程</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">智能交通新兴技术研究及综合应用示范系列项目</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">广东省智慧交通示范区建设研究</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">广州市交通信息化发展“十三五”规划</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">广州智能交通系统“十二五”发展规划</h4>
									</div>
								</div>
								<div class="menu-product">
									<div class="menu-product-wrap">
										<h4 class="nav-menu-title">广州市天河区智能交通发展规划</h4>
									</div>
								</div>
							</div>
							<div class="menu-left">
								<h3 class="nav-menu-mtitle">重大科技</h3>
								<ul class="nav-menu">
									<li class="active" data-index="0">
										<h4 class="nav-menu-title">“十五”、“十一五”国家科技攻关重大项目<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="1">
										<h4 class="nav-menu-title">国家首批物联网示范工程、交通运输部重大科技专项<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="2">
										<h4 class="nav-menu-title">基于大数据的“行讯通”综合交通信息服务惠民示范工程<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="3">
										<h4 class="nav-menu-title">智能交通新兴技术研究及综合应用示范系列项目<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
								</ul>
								<h3 class="nav-menu-mtitle">交通规划</h3>
								<ul class="nav-menu">
									<li class="" data-index="4">
										<h4 class="nav-menu-title">广东省智慧交通示范区建设研究<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="5">
										<h4 class="nav-menu-title">广州市交通信息化发展“十三五”规划<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="6">
										<h4 class="nav-menu-title">广州智能交通系统“十二五”发展规划<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
									<li class="" data-index="7">
										<h4 class="nav-menu-title">广州市天河区智能交通发展规划<i class="iconfont icon-gengduo pull-right"></i></h4>
									</li>
								</ul>
							</div>
						</div>
						<div class="menu-foot">
							<i class="iconfont icon-shang" role="button"></i>
						</div>
					</div>
				</li>
				<li>
					<a href="./about.html">关于我们<div class="subtitle">About us</div>
						<i class="f-line"></i>
					</a>
				</li>
				<li>
					<a href="./join.html">加入我们<div class="subtitle">Partner</div>
						<i class="f-line"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="m-toggle iconfont icon-caidan"></div>
		<div class="mobile-navs">
			<div class="navs-head">
				<i class="iconfont icon-guanbi"></i>
			</div>
			<ul class="navs-list">
				<li>
					<a href="./index.html">首页</a>
				</li>
				<li>
					<a >政府应用<i class="iconfont"></i></a>
					<div class="navs-menus">
						<h3 class="nav-menu-mtitle">公共交通</h3>
						<ul class="nav-menu">
							<li class="" data-index="0">
								<a class="nav-menu-title" href="./product.html">公交专用道综合管理系统</a>
							</li>
							<li class="" data-index="1">
								<a class="nav-menu-title" href="./product.html">公交客流分析系统</a>
							</li>
							<li class="" data-index="2">
								<a class="nav-menu-title" href="./product.html">公交线网基础数据管理</a>
							</li>
							<li class="" data-index="3">
								<a class="nav-menu-title" href="./product.html">公交行业监管</a>
							</li>
						</ul>
						<h3 class="nav-menu-mtitle">的士、客运</h3>
						<ul class="nav-menu">
							<li class="" data-index="4">
								<a class="nav-menu-title" href="./product.html">网约车行业监管解决方案</a>
							</li>
							<li class="" data-index="4">
								<a class="nav-menu-title" href="./product.html">公路客运监管分析系统解决方案</a>
							</li>
							<li class="" data-index="5">
								<a class="nav-menu-title" href="./product.html">长途汽车客运联网售票</a>
							</li>
							<li class="" data-index="6">
								<a class="nav-menu-title" href="./product.html">营运车辆安全监管解决方案</a>
							</li>
						</ul>
						<h3 class="nav-menu-mtitle">交通枢纽、驾培</h3>
						<ul class="nav-menu">
							<li class="" data-index="7">
								<a class="nav-menu-title" href="./product.html">广州市机动车驾驶员培训行业监管系统</a>
							</li>
							<li class="" data-index="8">
								<a class="nav-menu-title" href="./product.html">重点区域人群监测解决方案白皮书</a>
							</li>
							<li class="" data-index="9">
								<a class="nav-menu-title" href="./product.html">停车场行业管理解决方案</a>
							</li>
							<li class="" data-index="10">
								<a class="nav-menu-title" href="./product.html">城市道路交通运行分析解决方案</a>
							</li>
						</ul>
						<h3 class="nav-menu-mtitle">大型赛事、其他</h3>
						<ul class="nav-menu">
							<li class="" data-index="11">
								<a class="nav-menu-title" href="./product.html">广州市亚运会大型赛事专用车辆调度管理</a>
							</li>
							<li class="" data-index="12">
								<a class="nav-menu-title" href="./product.html">深圳大运会大型赛事专用车辆调度管理</a>
							</li>
							<li class="" data-index="13">
								<a class="nav-menu-title" href="./product.html">南京亚青会大型赛事专用车辆调度管理</a>
							</li>
							<li class="" data-index="14">
								<a class="nav-menu-title" href="./product.html">南京青奥会等大型赛事专用车辆调度管理</a>
							</li>
							<li class="" data-index="14">
								<a class="nav-menu-title" href="./product.html">交通信息资源综合整合发布解决方案</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a >企业应用<i class="iconfont"></i></a>
					<div class="navs-menus">
						<h3 class="nav-menu-mtitle">公共交通</h3>
						<ul class="nav-menu">
							<li class="" data-index="0">
								<a class="nav-menu-title" href="./product.html">公交智能监控调度解决方案</a>
							</li>
							<li class="" data-index="1">
								<a class="nav-menu-title" href="./product.html">公共交通营运及成本效益分析系统</a>
							</li>
						</ul>
						<h3 class="nav-menu-mtitle">的士、客运</h3>
						<ul class="nav-menu">
							<li class="" data-index="2">
								<a class="nav-menu-title" href="./product.html">的士复合电召解决方案</a>
							</li>
						</ul>
						<h3 class="nav-menu-mtitle">交通枢纽、驾培</h3>
						<ul class="nav-menu">
							<li class="" data-index="3">
								<a class="nav-menu-title" href="./product.html">广州驾培行业计时收费系统解决方案</a>
							</li>
						</ul>
						<h3 class="nav-menu-mtitle">其他</h3>
						<ul class="nav-menu">
						</ul>
					</div>
				</li>
				<li>
					<a >公众服务<i class="iconfont"></i></a>
					<div class="navs-menus">
						<h3 class="nav-menu-mtitle">如约系列</h3>
						<ul class="nav-menu">
							<li class="" data-index="0">
								<a class="nav-menu-title" href="./app.html">如约出行</a>
							</li>
							<li class="" data-index="1">
								<a class="nav-menu-title" href="./app.html">如约学车</a>
							</li>
							<li class="" data-index="2">
								<a class="nav-menu-title" href="./app.html">如约的士</a>
							</li>
							<li class="" data-index="3">
								<a class="nav-menu-title" href="./app.html">如约爱车</a>
							</li>
						</ul>
						<h3 class="nav-menu-mtitle">行讯通系列</h3>
						<ul class="nav-menu">
							<li class="" data-index="4">
								<a class="nav-menu-title" href="./app.html">行讯通（交委版）</a>
							</li>
							<li class="" data-index="5">
								<a class="nav-menu-title" href="./app.html">沃行讯通</a>
							</li>
							<li class="" data-index="6">
								<a class="nav-menu-title" href="./app.html">移动行讯通</a>
							</li>
							<li class="" data-index="7">
								<a class="nav-menu-title" href="./app.html">天翼行讯通</a>
							</li>
						</ul>
						<h3 class="nav-menu-mtitle">停车业务产品</h3>
						<ul class="nav-menu">
							<li class="" data-index="8">
								<a class="nav-menu-title" href="./app.html">停车场行业信息化解决方案</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a >科研创新<i class="iconfont"></i></a>
					<div class="navs-menus">
						<h3 class="nav-menu-mtitle">重大科技</h3>
						<ul class="nav-menu">
							<li class="" data-index="0">
								<a class="nav-menu-title" href="./product.html">“十五”、“十一五”国家科技攻关重大项目</a>
							</li>
							<li class="" data-index="1">
								<a class="nav-menu-title" href="./app.html">国家首批物联网示范工程、交通运输部重大科技专项</a>
							</li>
							<li class="" data-index="2">
								<a class="nav-menu-title" href="./app.html">基于大数据的“行讯通”综合交通信息服务惠民示范工程</a>
							</li>
							<li class="" data-index="3">
								<a class="nav-menu-title" href="./app.html">智能交通新兴技术研究及综合应用示范系列项目</a>
							</li>
						</ul>
						<h3 class="nav-menu-mtitle">交通规划</h3>
						<ul class="nav-menu">
							<li class="" data-index="4">
								<a class="nav-menu-title" href="./app.html">广东省智慧交通示范区建设研究</a>
							</li>
							<li class="" data-index="5">
								<a class="nav-menu-title" href="./app.html">广州市交通信息化发展“十三五”规划</a>
							</li>
							<li class="" data-index="6">
								<a class="nav-menu-title" href="./app.html">广州智能交通系统“十二五”发展规划</a>
							</li>
							<li class="" data-index="7">
								<a class="nav-menu-title" href="./app.html">广州市天河区智能交通发展规划</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="./about.html">关于我们</a>
				</li>
				<li>
					<a href="./join.html">加入我们</a>
				</li>
			</ul>
		</div>
	</div>
</header>
<!-- 主内容容器 -->
<section class="content">
	<!-- 首页banner轮播 -->
	<div class="index-banner-wrap">
		<div class="swiper-container" id="bannerSwiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img class="img-responsive" src="../../resources/images/top_banner/about_us.png" alt=""/>
				</div>
			</div>
			<!-- 分页器 -->
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<!--历史详情-->
	<div class="m-container">
		<ol class="breadcrumb">
			<li><a href="./about.html">关于我们</a></li>
			<li class="active">发展历史</li>
		</ol>
		<div class="history-wrap">
			<ul class="timeline">
				<li>
					<i class="iconfont icon-shang"></i>
				</li>
				<li class="left teal">
					<div class="step-mark s-line">2017</div>
					<div class="timeline-item">
						我们仍在努力前行
					</div>
				</li>
				<li class="right green">
					<div class="step-mark">2017<br>2月</div>
					<div class="timeline-item">
						荣获广东省科技进步三等奖
					</div>
				</li>
				<li class="left orange">
					<div class="step-mark">2016<br>11月</div>
					<div class="timeline-item">
						荣获中国地理信息产业优秀工程铜奖
					</div>
				</li>
				<li class="right blue">
					<div class="step-mark">2016<br>10月</div>
					<div class="timeline-item">
						获批组建广东省城市智能交通物联网工程技术研究中心
					</div>
				</li>
				<li class="left yellow">
					<div class="step-mark">2016<br>7月</div>
					<div class="timeline-item">
						荣获广州市科技进步二等奖
					</div>
				</li>
				<li class="right red">
					<div class="step-mark">2015<br>5月</div>
					<div class="timeline-item">
						荣获广州市科技进步二等奖
					</div>
				</li>
				<li class="left grass">
					<div class="step-mark">2014<br>11月</div>
					<div class="timeline-item">
						交通综合信息手机软件“行讯通”荣获首届“全国十佳交通信息服务手机软件”称号
					</div>
				</li>
				<li class="right purple">
					<div class="step-mark">2013<br>3月</div>
					<div class="timeline-item">
						获广东省经济和信息化委员会颁发的“广东省软件和集成电路设计产业百强培育企业”
					</div>
				</li>
				<li class="left croci">
					<div class="step-mark">2013<br>3月</div>
					<div class="timeline-item">
						获广东省“守合同重信用企业”荣誉称号
					</div>
				</li>
				<li class="right magenta">
					<div class="step-mark">2013<br>3月</div>
					<div class="timeline-item">
						获国家工信部颁发的计算机系统集成三级资质证书
					</div>
				</li>
				<li class="left pink">
					<div class="step-mark">2012<br>9月</div>
					<div class="timeline-item">
						获广州市交通委员会颁发的“广州市试行中小客车总量调控工作先进单位”
					</div>
				</li>
				<li class="right sky">
					<div class="step-mark">2012<br>6月</div>
					<div class="timeline-item">
						成为广东省智能交通协会副会长单位
					</div>
				</li>
				<!--第二部-->
				<li class="left teal">
					<div class="step-mark">2012<br>5月</div>
					<div class="timeline-item">
						交通运输部明确公司为首批国家物联网应用示范工程“基于物联网的城市智能交通应用示范”项目主体实施单位
					</div>
				</li>
				<li class="right green">
					<div class="step-mark">2012<br>3月</div>
					<div class="timeline-item">
						获广州市人民政府颁发的“广州市首批认定总部企业”
					</div>
				</li>
				<li class="left orange">
					<div class="step-mark">2011<br>12月</div>
					<div class="timeline-item">
						获广州市交通委员会颁发的“2011年公交专用道开通工作优秀单位”
					</div>
				</li>
				<li class="right blue">
					<div class="step-mark">2011<br>2月</div>
					<div class="timeline-item">
						承建“第26届世界大学生运动会大运智能交通调度信息管理系统”和“大运会常规公交可视化监管系统”项目
					</div>
				</li>
				<li class="left yellow">
					<div class="step-mark">2010<br>12月</div>
					<div class="timeline-item">
						获“第16届广州亚运会亚残运会交通服务突出贡献单位”
					</div>
				</li>
				<li class="right red">
					<div class="step-mark">2010<br>5月</div>
					<div class="timeline-item">
						获CMMI（集成的软件能力成熟度模型 ）Maturity level3 证书
					</div>
				</li>
				<li class="left grass">
					<div class="step-mark">2010<br>4月</div>
					<div class="timeline-item">
						通过增资扩股，公司注册资本增至5000万人民币
					</div>
				</li>
				<li class="right purple">
					<div class="step-mark">2010<br>2月</div>
					<div class="timeline-item">
						承建广州市政府“第16届亚运会车辆调度信息系统”项目
					</div>
				</li>
				<li class="left croci">
					<div class="step-mark">2009<br>11月</div>
					<div class="timeline-item">
						承建广州市中山大道快速公交（BRT）试验线自动售检票系统和智能交通系统软件项目
					</div>
				</li>
				<li class="right magenta">
					<div class="step-mark">2009<br>11月</div>
					<div class="timeline-item">
						承担国家发展和改革委员会的国家信息化试点工程
					</div>
				</li>
				<li class="left pink">
					<div class="step-mark">2009<br>9月</div>
					<div class="timeline-item">
						获广东省信息产业厅软件企业认定证书
					</div>
				</li>
				<li class="right sky">
					<div class="step-mark">2009<br>6月</div>
					<div class="timeline-item">
						获广东省安全技术防范系统设计、施工、维修资格证
					</div>
				</li>
				<!--第三部-->
				<li class="left teal">
					<div class="step-mark">2009<br>6月</div>
					<div class="timeline-item">
						公司注册资本增资至3000万人民币
					</div>
				</li>
				<li class="right green">
					<div class="step-mark">2009<br>4月</div>
					<div class="timeline-item">
						担任广州智能交通信息服务产业联盟理事长单位
					</div>
				</li>
				<li class="left orange">
					<div class="step-mark">2008<br>12月</div>
					<div class="timeline-item">
						获得广东省高新技术企业认定证书，并通过ISO9001-2000国际质量管理体系认证
					</div>
				</li>
				<li class="right blue">
					<div class="step-mark">2008<br>6月</div>
					<div class="timeline-item">
						公司正式纳入广州市交通委员会委属企业模式管理
					</div>
				</li>
				<li class="left yellow">
					<div class="step-mark">2008<br>5月</div>
					<div class="timeline-item">
						公司承担的“广州市智能交通系统应用试点示范工程—广州ITS共用信息平台”获广东省人民政府颁发省科技进步三等奖
					</div>
				</li>
				<li class="right red">
					<div class="step-mark">2007<br>11月</div>
					<div class="timeline-item">
						获“中国第八届少数民族体育运动会运输保障特别贡献单位奖”
					</div>
				</li>
				<li class="left grass">
					<div class="step-mark">2007<br>8月</div>
					<div class="timeline-item">
						出资500万成立广州交建多媒体信息技术有限公司，注册资本1000万，占股权50%
					</div>
				</li>
				<li class="right purple">
					<div class="step-mark">2006<br>12月</div>
					<div class="timeline-item">
						承担“十一五”国家科技支撑计划“广州亚运智能交通综合信息平台系统”项目建设，2009年6月通过国家科技部验收
					</div>
				</li>
				<li class="left croci">
					<div class="step-mark">2006<br>5月</div>
					<div class="timeline-item">
						开始具体建设世界银行贷款项目广州市中心区交通“ 广州市公共交通自动监控及通信调度系统”项目
					</div>
				</li>
				<li class="right magenta">
					<div class="step-mark">2005<br>11月</div>
					<div class="timeline-item">
						广州市交通委员会代表市政府，全面委托投资公司以代业主方式开发项目，投资、建设和运营广州交通信息化建设相关项目
					</div>
				</li>
				<li class="left pink">
					<div class="step-mark">2005<br>1月</div>
					<div class="timeline-item">
						承担“十五”国家科技攻关计划“浮动车交通信息采集关键技术研究”，2007年7月通过专家组验收
					</div>
				</li>
				<li class="right sky">
					<div class="step-mark">2004<br>6月</div>
					<div class="timeline-item">
						承建“十五”国家科技攻关项目“广州市智能交通系统应用试点示范工程——广州市共用信息平台”，2005年5月通过国家了科技部验收
					</div>
				</li>
				<!--第四部-->
				<li class="left teal">
					<div class="step-mark">2004<br>6月</div>
					<div class="timeline-item">
						出资250万成立广州电子口岸管理有限公司，注册资本500万，占股权50%
					</div>
				</li>
				<li class="right green">
					<div class="step-mark">2004<br>6月</div>
					<div class="timeline-item">
						出资500万成立广州京粤投资有限公司，注册资本1000万，占股权50%
					</div>
				</li>
				<li class="left orange">
					<div class="step-mark">2004<br>4月</div>
					<div class="timeline-item">
						出资收购广州市交通信息客户服务中心有限公司（96900客服中心）
					</div>
				</li>
				<li class="right blue">
					<div class="step-mark">2004<br>3月</div>
					<div class="timeline-item">
						开通运行“广州电子口岸（广州物流大通关平台）”
					</div>
				</li>
				<li class="left yellow">
					<div class="step-mark">2004<br>1月</div>
					<div class="timeline-item">
						开通运行“广州市出租车综合管理服务系统”
					</div>
				</li>
				<li class="right red">
					<div class="step-mark">2003<br>12月</div>
					<div class="timeline-item">
						建设并开通运行首次交通信息化项目“广州市客运联网售票系统”
					</div>
				</li>
				<li class="left grass">
					<div class="step-mark">2003<br>8月8号</div>
					<div class="timeline-item">
						公司正式成立，注册资本1000万人民币
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<div class="btn-group-fixed">
	<div class="btn-fixed btn-top" title="回到顶部"></div>
</div>
<!-- 头部 -->
<footer class="footer">
	<div class="m-footer-info">
		<ul class="m-footer-list">
			<li><a href="./index.html">网站首页</a></li>
			<li>|</li>
			<li><a href="./contact.html">联系我们</a></li>
			<li class="xs-hide">|</li>
			<li><a href="./map.html">网站地图</a></li>
			<li>|</li>
			<li><a href="./statement.html">法律声明</a></li>
		</ul>
		<p>版权所有 © 广州交通信息化建设投资营运有限公司&ensp;<span>·</span>&ensp;GuangZhou Communication Infomation Construction Investment and Operation Co.Ltd</p>
		<p>地址：广东省广州市天河区体育东路108号创展中心西座1402室&ensp;<span>·</span>&ensp;电话:(020)38180318&ensp;<span>·</span>&ensp;传真：(020)38180318&ensp;<span>·</span>&ensp;
			<a href="http://www.miibeian.gov.cn/" target="_blank">粤B220040454号</a>
		</p>
	</div>
	<div class="m-footer-info mobile">
		<ul class="m-footer-list">
			<li><a href="./index.html">网站首页</a></li>
			<li><a href="./contact.html">联系我们</a></li>
			<li><a href="./map.html">网站地图</a></li>
			<li><a href="./statement.html">法律声明</a></li>
		</ul>
		<p>版权所有 © 广州交通信息化建设投资营运有限公司</p>
		<p>GuangZhou Communication Infomation Construction Investment and Operation Co.Ltd</p>
		<p>地址：广东省广州市天河区体育东路108号创展中心西座1402室</p>
		<p>电话:(020)38180318</p>
		<p>传真：(020)38180318</p>
		<p><a href="http://www.miibeian.gov.cn/" target="_blank">粤B220040454号</a></p>
	</div>
</footer>
<!-- common.js -->
<script src="../../resources/js/common.js"></script>
<script src="../../resources/libs/artTemplate/template-web.js"></script>
<script src="../../resources/js/jQuery.pagination.js"></script>
<script>
	var page;
	$(function(){
		page.init();
	});
	page=(function(){
		var componentInit = function () {
			//目前历史时间轴固定1200px，手机端自缩放
			var docEl = window.document.documentElement;
			var resizeEvent = 'orientationchange' in window ? 'orientationchange' : 'resize';
			var timer;
			function refreshTimeline() {
				var width = docEl.getBoundingClientRect().width||docEl.clientWidth;
				var $timeline=$(".timeline");
				var height=$timeline.innerHeight();
				console.log(height);
				if(width<1200){
					var scale=((width-40)/1200).toFixed(2);
					console.log(scale);
					$timeline.css({
						transform:"scale("+scale+")",
						marginBottom:"-"+height*(1-scale)+"px",
						transformOrigin:"center top"
					});
				}else{
					$timeline.css({
						transform:"scale(1)",
						marginBottom:"0"
					});
				}
			}
			refreshTimeline();
			window.addEventListener(resizeEvent, function() {
				clearTimeout(timer);
				timer = setTimeout(refreshTimeline, 300);
			}, false);
		};
		return {
			init:function(){
				componentInit();
			}
		}
	})();
</script>
</body>
</html>
